


.menuTable {
    width: 100%;
    border-collapse: collapse;
    /*padding: 10PX;*/
    margin: 0 auto;
}

.menuTable tr {
    border-top: 1px dashed;
}

.itemName {
    text-align: left;
    width: 70%;
}

.itemPrice {
    text-align: right;
    width: 30%;
}


.itemName, .itemPrice, h4{
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    padding-bottom: 3vh;
}