/* General styles */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1,
h3 {
    font-family: 'miFuente';
    margin: 0.5em 0;
    text-align: center;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-family: 'miFuente';
    font-weight: bold;
    width: fit-content;
    align-self: center;
    justify-self: center;
}

button:hover {
    transform: scale(1.3);
}

/* Dark mode and Light mode styles */
.light-mode,
.dark-mode {
    width: 100%;
    height: 100%;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.light-mode h1,
.light-mode button,
.light-mode td {
    color: black;
    text-shadow: 10px white;
    text-shadow: 1px 1px 2px white;
}

.dark-mode h1,
.dark-mode button,
.dark-mode td {
    color: white;
    text-shadow: 10px black;
    text-shadow: 1px 1px 2px black;

}


/* Container and menu styles */
.contenedor {
    display:grid;
    grid-template-rows: repeat(2, 40vh);
    width: 100vw;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 10px;
    margin-bottom: 5vh;
}

.separador {
    display: flex;
    width: 55%;
    height: 1vh;
}

.dark-mode .separador {
    background-color: white;
}

.light-mode .separador {
    background-color: black;
}

.ignore{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3.5vh;
}
/* Media Query para dispositivos móviles */
@media screen and (min-width: 200px) and (max-width: 915px) {
    .contenedor{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 15px;
    }
  }
  